.footer1 {
      background-color: rgb(40, 53, 46);
      color: white;
      padding-bottom: .8rem;
      margin-top: 3rem;
}
.footer {
      display: flex;
      justify-content: space-around;
      margin-top: 3rem;
      height: auto;
      color: white;
      padding: 3rem 0;
      flex-wrap: wrap;
}

.about {
      width: 25rem;
      font-size: 1rem;

      

}

.about p {
      margin-bottom: .8rem;
}

.link {
      text-decoration: none;
      color: white;
}

.learn {
      margin-top: 1rem;
      border-bottom: 1px solid red;

}

.contact {
      margin: 1.5rem 0;
      border-bottom: 1px solid red;
      display: inline-block;
}

.trend p {
      font-size: 1.1rem;
      line-height: 1.5rem;;
}


.socials {
      display: flex;
      gap: 2.5rem;
      margin-top: .5rem;
}

.copy {
      text-align: center;
}